{"is_source_file": true, "file_id": 3, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "filename": "/home/kavia/workspace/code-generation/quickeventregister-25168-9b23d1f2/quickeventregister/requirements.txt", "hash": "1d666af380b83b2c5033b860e3cfc119", "format-version": 4, "code-base-name": "default", "knowledge_revision": 3}